
  body {
    background-color: #4d4d4d;
    padding : 20px;
    margin-left: auto;
    margin-right: auto;
    }
    .top{
      background: rgb(145, 145, 145);
      margin-left: auto;
      margin-right: auto;
      width: 1300px;
      height: 124px;
      border-radius: 10px;

    }
    #day_of_the_42{
      height: 110px;
      margin: auto;
      padding:4px;
      width:35%;
      margin-top: 10px;
      margin-left: 10px;
    }
    #reload{
      float:right;
      padding:2px;
      width:2%;
      margin-right: -18px;
    }
    #close{
      float:right;
      margin-top: 100px;
      margin-right: 8px;
      height: 25px;
    }
    #loupe{
      padding: 2px;
      width:20%;
      float:right;
    }
    #cluster{
      width: 900px;
      height: 445px;
      margin:9px;
      border-radius: 10px;
      border-style: solid;
      border-width: 8px;
      border-color: rgb(145, 145, 145);
      margin-left: auto;
	    margin-right: auto;
	    display: block;
    }
    .right{
      background: rgb(145, 145, 145);
      width: 120px;
      height: 400px;
      margin:9px;
      border-radius: 10px;
      float: right;


    }
    #brick{
      background-image : url("resources/brick.jpg");
      background-repeat : repeat;
      width: 120px;
      height: 60px;
      float: right;
      margin-right: 20px;
    }
    #book{
      width: 50px;
      float: right;
    }
    #towel{
      width:35px;
      float:right;
    }
